<div class="container">
  <div class="action-container">
    <!-- container for add button, save and delete -->
    <mat-card>
      <mat-form-field appearance="outline">
        <mat-label>Root Hierarchy</mat-label>
        <input matInput type="text" [formControl]="rootPropertyGroup" placeholder="Root hierarchy">
      </mat-form-field>
    </mat-card>
  </div>
  <div class="left-right">
    <div class="left">
      <mat-card
        cdkDropList style="min-height: 400px"
        id="assignedGroup"
        #assignedGroup="cdkDropList"
        [cdkDropListData]="assignedProperties"
        [cdkDropListConnectedTo]="[unassignedGroup]"
        (cdkDropListDropped)="drop($event)"
        (contextmenu)="openMenu1($event)"
      >

        <div style="visibility: hidden; position: fixed"
             [style.left]="contextMenuPosition.x"
             [style.top]="contextMenuPosition.y"
             [matMenuTriggerFor]="contextMenu">
        </div>
        <cdk-tree [dataSource]="dataSource$" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->
          <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            {{node.name}}
            <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
          </cdk-nested-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="example-tree-node">
            <button mat-icon-button [attr.aria-label]="'toggle ' + node.name" cdkTreeNodeToggle>
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.name}}
            <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container cdkTreeNodeOutlet></ng-container>
            </div>
          </cdk-nested-tree-node>
        </cdk-tree>

          <div class="card" *ngFor="let assignedProperty of assignedProperties" cdkDrag>
            {{assignedProperty.name}}
          </div>
      </mat-card>
    </div>
    <div class="right">
      <mat-card
        cdkDropList
        #unassignedGroup="cdkDropList"
        [cdkDropListData]="unassignedProperties"
        [cdkDropListConnectedTo]="[assignedGroup]"
        (cdkDropListDropped)="drop($event)"
      >
          <div class="card" *ngFor="let unassignedProperty of unassignedProperties" cdkDrag>
            {{unassignedProperty.name}}
          </div>
      </mat-card>
    </div>
  </div>
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="addPropertyGroup(item)">New Group</button>
  </ng-template>
</mat-menu>
