.container{
  box-sizing: border-box;
  .action-container{
    width: 100%
  }
  .left-right{
    display: flex;
    justify-content: space-between;
  }
  .left, .right {
    width: 100%;
  }
}

.card {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}
.card:first-child {
  border-top: solid 1px #ccc;
}

.cdk-drag-preview {
  //box-sizing: border-box;
  //border-radius: 4px;
  //box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  //0 8px 10px 1px rgba(0, 0, 0, 0.14),
  //0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.example-tree-node {
  display: block;
}

.example-tree-node .example-tree-node {
  padding-left: 40px;
}
.cdk-drag-preview {
  background: transparent;
  border: none;
  padding: 0;
}
