<div class="container">
  <div class="action-container">
    <!-- container for add button, save and delete -->
    <mat-card>
      <mat-form-field appearance="outline">
        <mat-label>Root Hierarchy</mat-label>
        <input matInput type="text" [formControl]="rootPropertyGroup" placeholder="Root hierarchy">
      </mat-form-field>
    </mat-card>
  </div>
  <div class="left-right">
    <div class="left">
      <mat-card
        cdkDropList style="min-height: 400px"
        #assignedGroup="cdkDropList"
        [cdkDropListData]="assignedProperties"
        [cdkDropListConnectedTo]="[unassignedGroup]"
        (cdkDropListDropped)="drop($event)"
      >
          <div class="card" *ngFor="let assignedProperty of assignedProperties" cdkDrag>
            {{assignedProperty.name}}
          </div>
      </mat-card>
    </div>
    <div class="right">
      <mat-card
        cdkDropList
        #unassignedGroup="cdkDropList"
        [cdkDropListData]="unassignedProperties"
        [cdkDropListConnectedTo]="[assignedGroup]"
        (cdkDropListDropped)="drop($event)"
      >
          <div class="card" *ngFor="let unassignedProperty of unassignedProperties" cdkDrag>
            {{unassignedProperty.name}}
          </div>
      </mat-card>
    </div>
  </div>
</div>
