<div class="container">
  <div class="action-container">
    <!-- container for add button, save and delete -->
    <mat-card>
      <mat-form-field appearance="outline">
        <mat-label>Root Hierarchy</mat-label>
        <input matInput type="text" [formControl]="rootPropertyGroup" placeholder="Root hierarchy">
      </mat-form-field>
    </mat-card>
  </div>
  <div class="left-right" cdkDropListGroup>
    <div class="left">
      <mat-card
        style="min-height: 400px"
        (contextmenu)="openMenu1($event)"
      >

        <div style="visibility: hidden; position: fixed"
             [style.left]="contextMenuPosition.x"
             [style.top]="contextMenuPosition.y"
             [matMenuTriggerFor]="contextMenu">
        </div>
        <cdk-tree [dataSource]="dataSource$" [treeControl]="treeControl">
          <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node">
            <button mat-icon-button disabled></button>
            <div
              cdkDropList
              id="{{node.id}}"
              [cdkDropListData]="node.children"
              (cdkDropListDropped)="droppedToPropertyGroup($event, node)"
              style="display: inline-block">
              <div style="display: inline-block"
                   cdkDrag
                   [cdkDragData]="node"
                   [cdkDragDisabled]="node.children.length > 0">
                <mat-form-field>
                  <input matInput type="text" [(ngModel)] ="node.name" value="{{node.name}}" >
                </mat-form-field>
              </div>
            </div>
            <button mat-icon-button (click)="addNewItem(node)" *ngIf="!node.leafPropertyGroup">
              <mat-icon>add</mat-icon>
            </button>
          </cdk-nested-tree-node>
          <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="example-tree-node">
            <button mat-icon-button [attr.aria-label]="'toggle ' + node.name" cdkTreeNodeToggle>
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <div
              cdkDropList
              [cdkDropListEnterPredicate]="enterPredicate(node)"
              id="NewPropertyGroup"
              [cdkDropListData]="node.children"
              (cdkDropListDropped)="droppedToPropertyGroup($event, node)"
              style="display: inline-block">
              <mat-form-field>
                <input matInput type="text" [(ngModel)] ="node.name" value="{{node.name}}" >
              </mat-form-field>
            </div>
            <button mat-icon-button (click)="addNewItem(node)" *ngIf="!node.leafPropertyGroup">
              <mat-icon>add</mat-icon>
            </button>
            <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                 >
              <ng-container cdkTreeNodeOutlet ></ng-container>
            </div>
          </cdk-nested-tree-node>
        </cdk-tree>
      </mat-card>
    </div>
    <div class="right">
      <mat-card
        style="min-height: 600px"
        cdkDropList
        id="unassigned-groups"
        [cdkDropListData]="unassignedProperties"
        (cdkDropListDropped)="droppedToUnassignedProperties($event)"
      >
        <div class="card" *ngFor="let unassignedProperty of unassignedProperties" cdkDrag>
          {{unassignedProperty.name}}
        </div>
      </mat-card>
    </div>
  </div>
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="addPropertyGroup(item)">New Group</button>
  </ng-template>
</mat-menu>
